* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: rgb(43, 43, 43);
    color: rgb(221, 220, 220);
}

body>* {
    width: 100%;
    max-width: 1100px;
}

header {
    flex: 0;
    height: 72px;
    padding: 15px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section {
    padding: 15px;
    flex: 1;
}

.container {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
}


.container p {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
}

p.active {
    border: 1px solid rgba(221, 50, 55, 1);
}

.game-grid {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;

    width: 350px;
    height: 350px;
    background-color: rgb(221, 220, 220);
}

.game-grid button {
    cursor: pointer;
    appearance: none;
    border: none;
    background-color: rgb(43, 43, 43);
    color: rgb(221, 220, 220);
    font-size: 4rem;
}

.game-grid button:hover {
    background-color: rgb(65, 64, 64);
}

#new-game {
    cursor: pointer;
    appearance: none;
    background: none;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 5px;
    color: rgb(221, 220, 220);
    padding: 10px 20px;
    margin: 10px 0;
}

#new-game:hover {
    background-color: rgb(65, 64, 64);
}

#winner {
    position: absolute;
    top: 0;
    bottom: 0;
}

.hidden {
    display: none;
}

#winner>p {
    padding: 25px 50px;
    background-color: rgba(221, 220, 220, 0.9);
    border: 1px solid rgba(221, 50, 55, 0.4);
    color: rgba(221, 50, 55, 1);
    border-radius: 10px;
    font-size: 1.8rem;
}