* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: rgb(43, 43, 43);
    color: rgb(221, 220, 220);
}

body>* {
    width: 100%;
    max-width: 1100px;
}

header {
    flex: 0;
    height: 72px;
    padding: 15px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section {
    padding: 15px;
    flex: 1;
}

.container {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* .players p {
    padding: 4px;
    background-color: darkblue;
    color: white;
} */

.game-grid {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;

    width: 350px;
    height: 350px;
    background-color: rgb(221, 220, 220);
}

.game-grid button {
    cursor: pointer;
    appearance: none;
    border: none;
    background-color: rgb(43, 43, 43);
    color: rgb(221, 220, 220);
    font-size: 4rem;
}

#new-game {
    cursor: pointer;
    appearance: none;
    background: none;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 5px;
    color: rgb(221, 220, 220);
    padding: 10px 20px;
    margin: 10px 0;
}

#new-game:hover {
    background-color: rgb(65, 64, 64);
}